.home {
  background-image: url(../images/home-bg.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  &__about {
    a {
      color: #c1c9d1;
      text-decoration-style: solid;
    }
    img {
      opacity: 0.7;
      width: 100%;
      padding-top: 70%;
    }
    p {
      font-family: "Source Serif Pro", serif;
      color: #c1c9d1;
      padding-top: 100%;
    }
    span {
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #fff;
      font-size: 2em;
    }
    .btn-secondary {
      background-color: #ffa7c4;
      box-shadow: 0 0.4rem #d77f9c;
      letter-spacing: 0.06em;
      font-weight: 500;
      line-height: 1;
      cursor: pointer;
      color: #09162a;
      border: none;
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 1.1em;
    }
  }
}
@media (max-width: 800px) {
  .home {
    &__about {
      margin: 0 auto;
      img {
        margin: 10vh 20% 0 20%;
        padding: 0;
        width: 50%;
        text-align: center;
      }
      p {
        color: #c1c9d1;
        padding: 0;
        margin: 0;
        margin-bottom: 5%;
        font-size: 0.9em;
        text-align: justify;
      }
      span {
        color: #fff;
        font-size: 1.5em;
      }
    }
  }
}
