.portfolio {
  min-height: 100vh;
  padding-top: 2%;
  background-image: url(../images/portfolio-bg.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: "Pathway Gothic One", sans-serif;
  }
  .slider {
    min-height: 100vh;
    justify-content: center;
  }
  .container {
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    text-align: left;
    height: auto;
    padding: 4% 2%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    a {
      color: #1cc5df;
    }
    a:hover {
      color: #ffffff;
    }
    h1 {
      font-family: "Abril Fatface", cursive;
    }
    h5 {
      font-family: "Source Serif Pro", serif;
      color: #b0b9c2;
    }
    h6,
    h4 {
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 18px;
    }
    .list-group-item {
      border: none;
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 800px) {
  .portfolio {
    height: auto;
    .slider {
      .previousButton {
        padding: 0;
      }
      .nextButton {
        padding: 0;
      }
    }
    .container {
      height: auto;
      padding: 5% 7%;
      h1 {
        font-size: 1.3em;
      }
      h5 {
        font-size: 1em;
      }
      p {
        font-size: 0.7em;
      }
      .list-group {
        justify-content: center;
        .list-group-item {
          padding: 0;
          padding: 0 5%;
        }
      }
    }
  }
}
